/* Estilos gerais */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.logo img {
    height: 80px;
}

.main-wrapp {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    border: 0;
    font-size: 18px;
    background: #00ff08;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

header {
    padding: 40px 4%;
}

header > .main-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    display: inline-block;
    text-decoration: none;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/* Estilos section1 */

section.section1 {
    padding: 40px 4%;
}

section.section1 .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.section1 .section-left h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.section1 .section-left h1 span {
    color: #00ff08;
    font-size: 60px;
}

.section1 .section-left p {
    color: #fff;
    margin: 40px 0;
}

.section1 .section-right img {
    position: relative;
    height: 420px;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

