/* Estilos gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0c0f1b;
    height: 100vh;
}

.logo img {
    height: 40px;
}

.main-wrapp {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    border: 0;
    font-size: 18px;
    background: #79c0ff;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    text-align: center;
    color: #fff;
    font-size: 38px;
    text-transform: uppercase;
}

h2.titulo span {
    color: #79c0ff
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #79c0ff;
    transform: scale(1.05);
}

/* Estilo menu */
header {
    padding: 40px 4%;
}

header>.main-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    display: inline-block;
    text-decoration: none;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/* Estilos section1 */

section.section1 {
    padding: 40px 4%;
}

section.section1 .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.section1 h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
    text-transform: uppercase;
}

.section1 .section-left h1 span {
    color: #79c0ff;
}

.section1 .section-left p {
    color: #fff;
    margin: 40px 0;
}

/* Foi necessário o position relative 
porque a imagem vai ficar se movendo na 
animation, através do parâmetro top */

.section1 .section-right img {
    position: relative;
    height: 420px;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Estilos section2 */

section.section2 {
    padding: 40px 4%;
}

section.section2 .flex {
    gap: 60px;
}

.section2 .cards {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.section2 .cards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff78;
}

.section2 .cards i {
    color: #79c0ff;
    font-size: 70px
}

.section2 .cards h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* Section3 Styles */

section.section3 {
    padding: 80px 4%;
}

.section3 .img-sobre img {
    border-radius: 15px;
}

section.section3 .flex {
    align-items: center;
    gap: 60px;
}

.section3 .txt-sobre h2 {
    font-size: 49px;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section3 .txt-sobre span {
    display: block;
    color: #79c0ff;
}

.section3 .txt-sobre {
    color: #fff;
}

.section3 .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.social-icons button {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 0;
    background: #79c0ff;
    font-size: 18px;
    cursor: pointer;
    margin: 0 1px;
    transition: 0.2s;
}

/* Estilos meus projetos */

section.section4 {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.section4 h2 {
    margin-bottom: 40px;
}

section.section4 .flex {
    justify-content: space-around;
}

.section4 .img-projetos {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    position: relative;
}

.section4 .img-projetos:hover {
    background-position: 100% 100%;
}

.section4 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* Estilos formulário */

section.section5 {
    padding: 80px 4%;
}

.section5 .titulo {
    margin-bottom: 40px
}

.section5 form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.section5 form input,
form textarea {
    width: 100%;
    background: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

.section5 form textarea {
    resize: none;
    height: 200px;
}

.section5 form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

.section5 form .btn-enviar input {
    width: 120px;
    background-color: #79c0ff;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* Estilos footer */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.logo-footer img {
    height: 35px;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

footer .borda {
    border-top: 2px solid #79c0ff;
}

footer .line-footer p i {
    color: #79c0ff;
}

footer .line-footer p a {
    color: #fff;
}

@media screen and (max-width: 1020px) {

    /* Classes gerais */
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* Cabeçalho */

    header {
        padding: 20px 4%;
    }

    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* Section1 */
    .section1 .flex {
        flex-direction: column-reverse;
    }

    section.section1 .flex {
        gap: 50px;
    }

    section.section1 {
        padding: 15px 8%;
    }

    .section1 h1 {
        font-size: 30px;
    }

    .section1 .section-right img {
        height: 300px;
    }

    /* Section2 */
    section.section2 {
        padding: 40px 8%;
    }
 
    /* Section3 */
    .section3 .flex {
        flex-direction: column-reverse;
    }

    section.section3 {
        padding: 80px 8%;
    }

    .section3 .txt-sobre h2 {
        font-size: 32px;
        line-height: 30px;
    }

    .section3 .social-icons {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /* Projetos */
    section.section4 {
        padding: 80px 8%;
    }

    .section4 .img-projetos {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        
    }

    section.section4 .flex {
        gap: 60px;
    }

    /* Footer */

    footer .flex {
    gap: 10px;
    }

    footer .line-footer {
        text-align: center;
    }

}